/**
  All padding styles
*/

/* --- top padding --- */
.p-t-10 { padding-top: 10px; }

/* --- right padding --- */
.p-r-10 { padding-right: 10px; }

/* --- bottom padding --- */
.p-b-10 { padding-bottom: 10px; }

/* --- left padding --- */
.p-l-10 { padding-left: 10px; }

/* --- general paddings --- */
.p-10 { padding: 10px; }